@model EntityDBFirstMVCProject.Models.Lojistik
@{
    ViewBag.Title = "MotorMAX";
    Layout = "~/Views/Shared/AdminWithoutGraphs.cshtml";
}

<h2>Müşteri Detay</h2>


@using (Html.BeginForm())
{
    <table class="table table-bordered">
        <tr>
            <th>Firma Adı</th>
            <th>Firma Tel</th>
         
        </tr>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(x => x.LojistikFirmaAdi)</td>
                <td>@Html.DisplayFor(x => x.FirmaTel)</td>
              
               
            </tr>
        </tbody>
    </table>
    <div class="form-horizontal">
        <br />

        @Html.ActionLink("Geri Dön", "List", null, new { @class = "btn btn-info" })
    </div>
}
