<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>MotorMax - Güvenilir Alışverişin Merkezi</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="~/UserTemp/css/bootstrap.min.css" />

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="~/UserTemp/css/slick.css" />
    <link type="text/css" rel="stylesheet" href="~/UserTemp/css/slick-theme.css" />

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="~/UserTemp/css/nouislider.min.css" />

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="~/UserTemp/css/font-awesome.min.css">

    <!-- Custom stlylesheet -->
   
    <link href="~/UserTemp/css/style.css" rel="stylesheet" />

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
    @RenderBody()
    <!-- HEADER -->
    <header>
        <!-- TOP HEADER -->
        <div id="top-header">
            <div class="container">
                <ul class="header-links pull-left">
                    <li><a href="#"><i class="fa fa-phone"></i> +021-95-51-84</a></li>
                    <li><a href="#"><i class="fa fa-envelope-o"></i> furkan@gmail.com</a></li>
                    <li><a href="#"><i class="fa fa-map-marker"></i> Zeytinburnu/İstanbul</a></li>
                </ul>
                <ul class="header-links pull-right">
                    <li><a href="#"><i class="fa fa-dollar"></i> USD</a></li>
                    <li><a href="@Url.Action("UserLogin","UserLogin")"><i class="fa fa-user-o"></i> Hesabım</a></li>
                </ul>
            </div>
        </div>
        <!-- /TOP HEADER -->
        <!-- MAIN HEADER -->
        <div id="header">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <!-- LOGO -->
                    <div class="col-md-3">
                        <div class="header-logo">
                            <a href="#" class="logo">
                                <img src="~/UserTemp/img/MotorMax (1).png"  alt="">
                            </a>
                        </div>
                    </div>
                    <!-- /LOGO -->
                    <!-- SEARCH BAR -->
                    <div class="col-md-6">
                        <div class="header-search">
                            <form>
                                <select class="input-select">
                                    <option value="0">Kategoriler</option>
                                    <option value="1">Category 01</option>
                                    <option value="1">Category 02</option>
                                </select>
                                <input class="input" placeholder="Ara">
                                <button class="search-btn">Ara</button>
                            </form>
                        </div>
                    </div>
                    <!-- /SEARCH BAR -->
                    <!-- ACCOUNT -->
                    <div class="col-md-3 clearfix">
                        <div class="header-ctn">
                            <!-- Wishlist -->
                            <div>
                                <a href="#">
                                    <i class="fa fa-heart-o"></i>
                                    <span>Favoriler</span>
                                    <div class="qty">2</div>
                                </a>
                            </div>
                            <!-- /Wishlist -->
                            <!-- Cart -->
                            <div class="dropdown">
                                <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                    <i class="fa fa-shopping-cart"></i>
                                    <span>Sepetim</span>
                                    <div class="qty">3</div>
                                </a>
                                <div class="cart-dropdown">
                                    <div class="cart-list">
                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="~/UserTemp/img/product01.png" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                                <h4 class="product-price"><span class="qty">1x</span>$980.00</h4>
                                            </div>
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        </div>

                                        <div class="product-widget">
                                            <div class="product-img">
                                                <img src="~/UserTemp/img/product02.png" alt="">
                                            </div>
                                            <div class="product-body">
                                                <h3 class="product-name"><a href="#">product name goes here</a></h3>
                                                <h4 class="product-price"><span class="qty">3x</span>$980.00</h4>
                                            </div>
                                            <button class="delete"><i class="fa fa-close"></i></button>
                                        </div>
                                    </div>
                                    <div class="cart-summary">
                                        <small>3 Item(s) selected</small>
                                        <h5>SUBTOTAL: $2940.00</h5>
                                    </div>
                                    <div class="cart-btns">
                                        <a href="#">View Cart</a>
                                        <a href="#">Checkout  <i class="fa fa-arrow-circle-right"></i></a>
                                    </div>
                                </div>
                            </div>
                            <!-- /Cart -->
                            <!-- Menu Toogle -->
                            <div class="menu-toggle">
                                <a href="#">
                                    <i class="fa fa-bars"></i>
                                    <span>Menu</span>
                                </a>
                            </div>
                            <!-- /Menu Toogle -->
                        </div>
                    </div>
                    <!-- /ACCOUNT -->
                </div>
                <!-- row -->
            </div>
            <!-- container -->
        </div>
        <!-- /MAIN HEADER -->
    </header>
    <!-- /HEADER -->
    <!-- NAVIGATION -->
    <nav id="navigation">
        <!-- container -->
        <div class="container">
            <!-- responsive-nav -->
            <div id="responsive-nav">
                <!-- NAV -->
                <ul class="main-nav nav navbar-nav">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Teklifler</a></li>
                    <li><a href="#">Kategoriler</a></li>
                    <li><a href="#">Yeni Gelenler</a></li>
                    <li><a href="#">Shima</a></li>
                    <li><a href="#">Cameras</a></li>
                    <li><a href="#">Aksesuarlar</a></li>
                </ul>
                <!-- /NAV -->
            </div>
            <!-- /responsive-nav -->
        </div>
        <!-- /container -->
    </nav>
    <!-- /NAVIGATION -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- shop -->
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="~/UserTemp/img/Shop-motorcycle (1).jpeg"  alt="">
                        </div>
                        <div class="shop-body">
                            <h3>Motorsikletler<br></h3>
                            <a href="#" class="cta-btn">Hemen Al<i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /shop -->
                <!-- shop -->
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="~/UserTemp/img/shop-helmet.jpeg"  alt="">
                        </div>
                        <div class="shop-body">
                            <h3>ECE R22–5 Sertifikalı<br>Kasklar</h3>
                            <a href="#" class="cta-btn">Hemen Al<i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /shop -->
                <!-- shop -->
                <div class="col-md-4 col-xs-6">
                    <div class="shop">
                        <div class="shop-img">
                            <img src="~/UserTemp/img/shop-suit.jpeg"  alt="">
                        </div>
                        <div class="shop-body">
                            <h3>Koruyucu<br>Kıyafetler</h3>
                            <a href="#" class="cta-btn">Hemen Al<i class="fa fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                </div>
                <!-- /shop -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Yeni Ürünler</h3>
                        <div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab1">Motosikletler</a></li>
                                <li><a data-toggle="tab" href="#tab1">Kasklar</a></li>
                                <li><a data-toggle="tab" href="#tab1">Kask Kameraları</a></li>
                                <li><a data-toggle="tab" href="#tab1">Aksesuarlar</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /section title -->
                <!-- Products tab & slick -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            <!-- tab -->
                            <div id="tab1" class="tab-pane active">
                                <div class="products-slick" data-nav="#slick-nav-1">
                                    <!-- product -->
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/UserTemp/img/R1-Yamaha (1).png" alt="">
                                            <div class="product-label">
                                                <span class="sale">%20  </span>
                                                <span class="new">Yeni</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Motosikletler</p>
                                            <h3 class="product-name"><a href="#">Yamaha R1 2023</a></h3>
                                            <h4 class="product-price">990.000 TL <del class="product-old-price">1.100.000 TL</del></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Favorilere Ekle</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Karşılaştır</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Göz At</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                                        </div>
                                    </div>
                                    <!-- /product -->
                                    <!-- product -->
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/UserTemp/img/dainese.png"  alt="">
                                            <div class="product-label">
                                                <span class="new">Yeni</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Montlar</p>
                                            <h3 class="product-name"><a href="#">Dainese Valorosa 50TH LTD QDF Black Deri Mont</a></h3>
                                            <h4 class="product-price">25.000 TL <del class="product-old-price">35.000 TL</del></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-o"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Favorilere Ekle</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Karşılaştır</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Göz At</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                                        </div>
                                    </div>
                                    <!-- /product -->
                                    <!-- product -->
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/UserTemp/img/Honda-VFR-e1555919702645.png" alt="">
                                            <div class="product-label">
                                                <span class="sale">-30%</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Motorsikletler</p>
                                            <h3 class="product-name"><a href="#">HONDA-VFR1200 X CROSSTOURER</a></h3>
                                            <h4 class="product-price">450.000 TL <del class="product-old-price">490.000 TL</del></h4>
                                            <div class="product-rating">
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Favorilere Ekle</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Karşılaştır</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Göz At</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                                        </div>
                                    </div>
                                    <!-- /product -->
                                    <!-- product -->
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/UserTemp/img/shark-helmet.png"  alt="">
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Kasklar</p>
                                            <h3 class="product-name"><a href="#">Shark D-Skwal 2 Cadıum Mat Kapalı Kask</a></h3>
                                            <h4 class="product-price">15.000 TL <del class="product-old-price">17.000 TL</del></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Favorilere Ekle</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Karşılaştır</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Göz At</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                                        </div>
                                    </div>
                                    <!-- /product -->
                                    <!-- product -->
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/UserTemp/img/mt07.jpg"  alt="">
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Motorsikletler</p>
                                            <h3 class="product-name"><a href="#">YAMAHA MT-07 2023 </a></h3>
                                            <h4 class="product-price">650.000 TL<del class="product-old-price">690.000 TL</del></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Favorilere Ekle</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Karşılaştır</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Göz At</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                                        </div>
                                    </div>
                                    <!-- /product -->
                                </div>
                                <div id="slick-nav-1" class="products-slick-nav"></div>
                            </div>
                            <!-- /tab -->
                        </div>
                    </div>
                </div>
                <!-- Products tab & slick -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- HOT DEAL SECTION -->
    <div id="hot-deal" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="hot-deal">
                        <ul class="hot-deal-countdown">
                            <li>
                                <div>
                                    <h3>12</h3>
                                    <span>Gün</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3>10</h3>
                                    <span>Saat</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3>34</h3>
                                    <span>Dakika</span>
                                </div>
                            </li>
                            <li>
                                <div>
                                    <h3>60</h3>
                                    <span>Saniye</span>
                                </div>
                            </li>
                        </ul>
                        <h2 class="text-uppercase">Haftanın Fırsatı</h2>
                        <p>Şimdi 465.000 Tl'den Başlayan Fiyatlarla </p>
                        <a class="primary-btn cta-btn" href="#">Hemen Al</a>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /HOT DEAL SECTION -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h3 class="title">Çok Satanlar</h3>
                        <div class="section-nav">
                            <ul class="section-tab-nav tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab2">Motosikletler</a></li>
                                <li><a data-toggle="tab" href="#tab2">Ekipmanlar</a></li>
                                <li><a data-toggle="tab" href="#tab2">Kask Kameraları</a></li>
                                <li><a data-toggle="tab" href="#tab2">Aksesuarlar</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /section title -->
                <!-- Products tab & slick -->
                <div class="col-md-12">
                    <div class="row">
                        <div class="products-tabs">
                            <!-- tab -->
                            <div id="tab2" class="tab-pane fade in active">
                                <div class="products-slick" data-nav="#slick-nav-2">
                                    <!-- product -->
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/UserTemp/img/R1-Yamaha (1).png" alt="">
                                            <div class="product-label">
                                                <span class="sale">%20  </span>
                                                <span class="new">Yeni</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Motosikletler</p>
                                            <h3 class="product-name"><a href="#">Yamaha R1 2023</a></h3>
                                            <h4 class="product-price">990.000 TL <del class="product-old-price">1.100.000 TL</del></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Favorilere Ekle</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Karşılaştır</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Göz At</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                                        </div>
                                    </div>
                                    <!-- /product -->
                                    <!-- product -->
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/UserTemp/img/mt07.jpg" alt="">
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Motorsikletler</p>
                                            <h3 class="product-name"><a href="#">YAMAHA MT-07 2023 </a></h3>
                                            <h4 class="product-price">650.000 TL<del class="product-old-price">690.000 TL</del></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Favorilere Ekle</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Karşılaştır</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Göz At</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                                        </div>
                                    </div>
                                    <!-- /product -->
                                    <!-- product -->
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/UserTemp/img/shark-helmet.png" alt="">
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Kasklar</p>
                                            <h3 class="product-name"><a href="#">Shark D-Skwal 2 Cadıum Mat Kapalı Kask</a></h3>
                                            <h4 class="product-price">15.000 TL <del class="product-old-price">17.000 TL</del></h4>
                                            <div class="product-rating">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Favorilere Ekle</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Karşılaştır</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Göz At</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                                        </div>
                                    </div>
                                    <!-- /product -->
                                    <!-- product -->
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/UserTemp/img/Honda-VFR-e1555919702645.png" alt="">
                                            <div class="product-label">
                                                <span class="sale">-30%</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Motorsikletler</p>
                                            <h3 class="product-name"><a href="#">HONDA-VFR1200 X CROSSTOURER</a></h3>
                                            <h4 class="product-price">450.000 TL <del class="product-old-price">490.000 TL</del></h4>
                                            <div class="product-rating">
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Favorilere Ekle</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Karşılaştır</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Göz At</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                                        </div>
                                    </div>
                                    <!-- /product -->
                                    <!-- product -->
                                    <div class="product">
                                        <div class="product-img">
                                            <img src="~/UserTemp/img/Honda-VFR-e1555919702645.png" alt="">
                                            <div class="product-label">
                                                <span class="sale">-30%</span>
                                            </div>
                                        </div>
                                        <div class="product-body">
                                            <p class="product-category">Motorsikletler</p>
                                            <h3 class="product-name"><a href="#">HONDA-VFR1200 X CROSSTOURER</a></h3>
                                            <h4 class="product-price">450.000 TL <del class="product-old-price">490.000 TL</del></h4>
                                            <div class="product-rating">
                                            </div>
                                            <div class="product-btns">
                                                <button class="add-to-wishlist"><i class="fa fa-heart-o"></i><span class="tooltipp">Favorilere Ekle</span></button>
                                                <button class="add-to-compare"><i class="fa fa-exchange"></i><span class="tooltipp">Karşılaştır</span></button>
                                                <button class="quick-view"><i class="fa fa-eye"></i><span class="tooltipp">Göz At</span></button>
                                            </div>
                                        </div>
                                        <div class="add-to-cart">
                                            <button class="add-to-cart-btn"><i class="fa fa-shopping-cart"></i> Sepete Ekle</button>
                                        </div>
                                    </div>
                                    <!-- /product -->
                                </div>
                                <div id="slick-nav-2" class="products-slick-nav"></div>
                            </div>
                            <!-- /tab -->
                        </div>
                    </div>
                </div>
                <!-- /Products tab & slick -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- SECTION -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-4 col-xs-6">
                    <div class="section-title">
                        <h4 class="title">Çok Satanlar</h4>
                        <div class="section-nav">
                            <div id="slick-nav-3" class="products-slick-nav"></div>
                        </div>
                    </div>

                    <div class="products-widget-slick" data-nav="#slick-nav-3">
                        <div>
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/dainese60.png"  alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Kıyafetler</p>
                                    <h3 class="product-name"><a href="#">Dainese Valorosa 50TH LTD QDF Black Deri Mont</a></h3>
                                    <h4 class="product-price">25.000 TL <del class="product-old-price">35.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- /product widget -->
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/agv60.png"  alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Kasklar</p>
                                    <h3 class="product-name"><a href="#">AGV K3 SV Helmet</a></h3>
                                    <h4 class="product-price">22.500 TL <del class="product-old-price">29.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- /product widget -->
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/shark-helmet60.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Kasklar</p>
                                    <h3 class="product-name"><a href="#">Shark D-Skwal 2 Cadıum Mat Kapalı Kask</a></h3>
                                    <h4 class="product-price">15.000 TL <del class="product-old-price">17.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- product widget -->
                        </div>

                        <div>
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/R1-Yamaha60.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Motosikletler</p>
                                    <h3 class="product-name"><a href="#">Yamaha R1 2023</a></h3>
                                    <h4 class="product-price">990.000 TL <del class="product-old-price">1.100.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- /product widget -->
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/shark-helmet60.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Kasklar</p>
                                    <h3 class="product-name"><a href="#">Shark D-Skwal 2 Cadıum Mat Kapalı Kask</a></h3>
                                    <h4 class="product-price">15.000 TL <del class="product-old-price">17.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- /product widget -->
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/agv60.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Kasklar</p>
                                    <h3 class="product-name"><a href="#">AGV K3 SV Helmet</a></h3>
                                    <h4 class="product-price">22.500 TL <del class="product-old-price">29.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- product widget -->
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-xs-6">
                    <div class="section-title">
                        <h4 class="title">Çok Satanlar</h4>
                        <div class="section-nav">
                            <div id="slick-nav-4" class="products-slick-nav"></div>
                        </div>
                    </div>

                    <div class="products-widget-slick" data-nav="#slick-nav-4">
                        <div>
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/agv60.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Kasklar</p>
                                    <h3 class="product-name"><a href="#">AGV K3 SV Helmet</a></h3>
                                    <h4 class="product-price">22.500 TL <del class="product-old-price">29.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- /product widget -->
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/dainese60.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Kıyafetler</p>
                                    <h3 class="product-name"><a href="#">Dainese Valorosa 50TH LTD QDF Black Deri Mont</a></h3>
                                    <h4 class="product-price">25.000 TL <del class="product-old-price">35.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- /product widget -->
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/R1-Yamaha60.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Motosikletler</p>
                                    <h3 class="product-name"><a href="#">Yamaha R1 2023</a></h3>
                                    <h4 class="product-price">990.000 TL <del class="product-old-price">1.100.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- product widget -->
                        </div>

                        <div>
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/shark-helmet60.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Kasklar</p>
                                    <h3 class="product-name"><a href="#">Shark D-Skwal 2 Cadıum Mat Kapalı Kask</a></h3>
                                    <h4 class="product-price">15.000 TL <del class="product-old-price">17.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- /product widget -->
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/dainese60.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Kıyafetler</p>
                                    <h3 class="product-name"><a href="#">Dainese Valorosa 50TH LTD QDF Black Deri Mont</a></h3>
                                    <h4 class="product-price">25.000 TL <del class="product-old-price">35.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- /product widget -->
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/R1-Yamaha60.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Motosikletler</p>
                                    <h3 class="product-name"><a href="#">Yamaha R1 2023</a></h3>
                                    <h4 class="product-price">990.000 TL <del class="product-old-price">1.100.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- product widget -->
                        </div>
                    </div>
                </div>

                <div class="clearfix visible-sm visible-xs"></div>

                <div class="col-md-4 col-xs-6">
                    <div class="section-title">
                        <h4 class="title">Çok Satanlar</h4>
                        <div class="section-nav">
                            <div id="slick-nav-5" class="products-slick-nav"></div>
                        </div>
                    </div>

                    <div class="products-widget-slick" data-nav="#slick-nav-5">
                        <div>
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/R1-Yamaha60.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Motosikletler</p>
                                    <h3 class="product-name"><a href="#">Yamaha R1 2023</a></h3>
                                    <h4 class="product-price">990.000 TL <del class="product-old-price">1.100.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- /product widget -->
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/shark-helmet60.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Kasklar</p>
                                    <h3 class="product-name"><a href="#">Shark D-Skwal 2 Cadıum Mat Kapalı Kask</a></h3>
                                    <h4 class="product-price">15.000 TL <del class="product-old-price">17.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- /product widget -->
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/R1-Yamaha60.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Motosikletler</p>
                                    <h3 class="product-name"><a href="#">Yamaha R1 2023</a></h3>
                                    <h4 class="product-price">990.000 TL <del class="product-old-price">1.100.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- product widget -->
                        </div>

                        <div>
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/R1-Yamaha60.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Motosikletler</p>
                                    <h3 class="product-name"><a href="#">Yamaha R1 2023</a></h3>
                                    <h4 class="product-price">990.000 TL <del class="product-old-price">1.100.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- /product widget -->
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/shark-helmet60.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Kasklar</p>
                                    <h3 class="product-name"><a href="#">Shark D-Skwal 2 Cadıum Mat Kapalı Kask</a></h3>
                                    <h4 class="product-price">15.000 TL <del class="product-old-price">17.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- /product widget -->
                            <!-- product widget -->
                            <div class="product-widget">
                                <div class="product-img">
                                    <img src="~/UserTemp/img/R1-Yamaha60.png" alt="">
                                </div>
                                <div class="product-body">
                                    <p class="product-category">Motosikletler</p>
                                    <h3 class="product-name"><a href="#">Yamaha R1 2023</a></h3>
                                    <h4 class="product-price">990.000 TL <del class="product-old-price">1.100.000 TL</del></h4>
                                </div>
                            </div>
                            <!-- product widget -->
                        </div>
                    </div>
                </div>

            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /SECTION -->
    <!-- NEWSLETTER -->
    <div id="newsletter" class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <div class="col-md-12">
                    <div class="newsletter">
                        <p>Yeniliklerden Haberdar Olmak İçin <br />
                        <strong>Bültenimize Kayıt Olun</strong></p>
                        <form>
                            <input class="input" type="email" placeholder="örnek@mail.com">
                            <button class="newsletter-btn"><i class="fa fa-envelope"></i> Abone ol</button>
                        </form>
                        <ul class="newsletter-follow">
                            <li>
                                <a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /NEWSLETTER -->
    <!-- FOOTER -->
    <footer id="footer">
        <!-- top footer -->
        <div class="section">
            <!-- container -->
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Hakkımızda</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut.</p>
                            <ul class="footer-links">
                                <li><a href="#"><i class="fa fa-map-marker"></i>Zeytinburnu/İstanbul</a></li>
                                <li><a href="#"><i class="fa fa-phone"></i>+021-95-51-84</a></li>
                                <li><a href="#"><i class="fa fa-envelope-o"></i>furkan@gmail.com</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Kategoriler</h3>
                            <ul class="footer-links">
                                <li><a href="#">Kasklar</a></li>
                                <li><a href="#">Koruyucu Kıyafetler</a></li>
                                <li><a href="#">Yağ ve Yedek Parça</a></li>
                                <li><a href="#">Motosikletler</a></li>
                                <li><a href="#">Aksesuarlar</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="clearfix visible-xs"></div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Bilgi</h3>
                            <ul class="footer-links">
                                <li><a href="#">Hakkımızda</a></li>
                                <li><a href="#">İletişim</a></li>
                                <li><a href="#">Gizlilik Politikası</a></li>
                                <li><a href="#">siparişler</a></li>
                                <li><a href="#">Sıkça Sorulan Sorular</a></li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-xs-6">
                        <div class="footer">
                            <h3 class="footer-title">Hizmetler</h3>
                            <ul class="footer-links">
                                <li><a href="#">Hesabım</a></li>
                                <li><a href="#">Sepeti Gör</a></li>
                                <li><a href="#">Favoriler</a></li>
                                <li><a href="#">Sipariş Takibi</a></li>
                                <li><a href="#">Yardım</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /top footer -->
        <!-- bottom footer -->
        <div id="bottom-footer" class="section">
            <div class="container">
                <!-- row -->
                <div class="row">
                    <div class="col-md-12 text-center">
                        <ul class="footer-payments">
                            <li><a href="#"><i class="fa fa-cc-visa"></i></a></li>
                            <li><a href="#"><i class="fa fa-credit-card"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-paypal"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-mastercard"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-discover"></i></a></li>
                            <li><a href="#"><i class="fa fa-cc-amex"></i></a></li>
                        </ul>
                        <span class="copyright">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> Tüm Hakları Saklıdır | Bu Tema Furkan Kılıç Tarafından Oluşturulmuştur.<i class="fa fa-heart-o" aria-hidden="true"></i> Güle Güle
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </span>
                    </div>
                </div>
                <!-- /row -->
            </div>
            <!-- /container -->
        </div>
        <!-- /bottom footer -->
    </footer>
    <!-- /FOOTER -->
    <!-- jQuery Plugins -->
    <script src="~/UserTemp/js/jquery.min.js"></script>
    <script src="~/UserTemp/js/bootstrap.min.js"></script>
    <script src="~/UserTemp/js/slick.min.js"></script>
    <script src="~/UserTemp/js/nouislider.min.js"></script>
    <script src="~/UserTemp/js/jquery.zoom.min.js"></script>
    <script src="~/UserTemp/js/main.js"></script>

</body>
</html>
